<a href="https://colab.research.google.com/github/olhaishchenko/-data_science/blob/master/hw3(library).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Housing.csv')
df_cut = df[['bedrooms', 'bathrooms', 'area', 'price']]

In [4]:
df_cut.head(10)

   bedrooms  bathrooms   area     price
0         4          2   7420  13300000
1         4          4   8960  12250000
2         3          2   9960  12250000
3         4          2   7500  12215000
4         4          1   7420  11410000
5         3          3   7500  10850000
6         4          3   8580  10150000
7         5          3  16200  10150000
8         4          1   8100   9870000
9         3          2   5750   9800000

In [5]:
lienearRegression = LinearRegression()
results=lienearRegression.fit(df_cut[['bedrooms', 'bathrooms', 'area']].values.reshape(-1, 3), y=df_cut['price'].values)

In [6]:
results.coef_, results.intercept_

(array([4.06820034e+05, 1.38604950e+06, 3.78762754e+02]), -173171.60763216857)

In [7]:
df_cut['Predicted price'] = results.predict(df_cut[['bedrooms', 'bathrooms', 'area']].values.reshape(-1, 3))

<ipython-input-7-8b2038e37415>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cut['Predicted price'] = results.predict(df_cut[['bedrooms', 'bathrooms', 'area']].values.reshape(-1, 3))

In [8]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(df_cut['price'], df_cut['Predicted price'])

999109.7245946031