<a href="https://colab.research.google.com/github/olhaishchenko/-data_science/blob/master/hw3(library).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [56]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Housing.csv')
df_cut = df[['bedrooms', 'bathrooms', 'area', 'price']]

In [57]:
df_cut.head(10)

   bedrooms  bathrooms   area     price
0         4          2   7420  13300000
1         4          4   8960  12250000
2         3          2   9960  12250000
3         4          2   7500  12215000
4         4          1   7420  11410000
5         3          3   7500  10850000
6         4          3   8580  10150000
7         5          3  16200  10150000
8         4          1   8100   9870000
9         3          2   5750   9800000

In [58]:
lienearRegression = LinearRegression()
results = lienearRegression.fit(df_cut[['bedrooms', 'bathrooms', 'area']].values.reshape(-1, 3), y=df_cut['price'].values)

In [59]:
linear_w = results.coef_
linear_w, results.intercept_

(array([4.06820034e+05, 1.38604950e+06, 3.78762754e+02]), -173171.60763216857)

In [60]:
df_cut['Predicted price'] = results.predict(df_cut[['bedrooms', 'bathrooms', 'area']].values.reshape(-1, 3))

<ipython-input-60-8b2038e37415>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cut['Predicted price'] = results.predict(df_cut[['bedrooms', 'bathrooms', 'area']].values.reshape(-1, 3))

In [61]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(df_cut['price'], df_cut['Predicted price'])

999109.7245946031

## analytical solution

In [62]:
import random

import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Housing.csv')
df_cut = df[['bedrooms', 'bathrooms', 'area', 'price']]
df_cut.head()

   bedrooms  bathrooms  area     price
0         4          2  7420  13300000
1         4          4  8960  12250000
2         3          2  9960  12250000
3         4          2  7500  12215000
4         4          1  7420  11410000

In [63]:
def cost(y: np.array, h: np.array)->np.array:
  return np.mean((h-y)**2)/2

class LinearRegressions:
  def __init__(self, lr: float, thr: float=0.00001, n_epochs: int=100):
    self.lr = lr
    self.thr = thr
    self.n_epochs = n_epochs
    self.w = np.array([random.uniform(500000, 1000000), random.uniform(500000, 2000000), random.uniform(0, 1000)])
    print(f"Init w: {self.w}")

  def predict(self, X: np.array)->np.array:
    return X @ self.w

  def update_w(self, X: np.array, y: np.array):
    # w = w - lr / m * XT @ (w @ X - y)
    m = len(y)
    h = self.predict(X)
    self.w -= self.lr / m * X.T @ (h - y)

  def fit(self, X: np.array, y:np.array):
    last_cost = 100000000000000

    for i in range(self.n_epochs):
      self.update_w(X,y)
      new_cost = cost(y, self.predict(X))

      if  last_cost - new_cost < self.thr:
        break
      last_cost = new_cost
    last_w = self.w
    return last_w

In [64]:
X = np.array(df_cut[['bedrooms', 'bathrooms', 'area']])

y = np.array(df_cut['price'])

best_w = np.linalg.inv(X.T @ X) @ X.T @ y
print(f'best_w: {best_w}')

best_w: [3.68974672e+05 1.37031315e+06 3.72448352e+02]

In [65]:
linear_regression = LinearRegressions(lr=0.00000005, n_epochs=10000, thr=1000000)
last_w=linear_regression.fit(X,y)
# print(c)

Init w: [6.69246312e+05 1.90783262e+06 4.25253162e+02]

### conclusion

In [67]:
rae_lin = abs(linear_w - best_w)/best_w
rae_an = abs(last_w - best_w)/best_w
print(f'Relative Absolute Error linear regression: {rae_lin}')
print(f'Relative Absolute Error analytical solution: {rae_an}')

Relative Absolute Error linear regression: [0.102569   0.01148376 0.01695377]
Relative Absolute Error analytical solution: [0.81379822 0.39226007 0.71617356]