<a href="https://colab.research.google.com/github/olhaishchenko/-data_science/blob/master/Hw_3(anal).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import random

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Housing.csv')
df_cut = df[['bedrooms', 'bathrooms', 'area', 'price']]
df_cut.head()

   bedrooms  bathrooms  area     price
0         4          2  7420  13300000
1         4          4  8960  12250000
2         3          2  9960  12250000
3         4          2  7500  12215000
4         4          1  7420  11410000

In [43]:
def cost(y: np.array, h: np.array)->np.array:
  return np.mean((h-y)**2)/2


class LinearRegression:
  def __init__(self, lr: float, thr: float=0.00001, n_epochs: int=100):
    self.lr = lr
    self.thr = thr
    self.n_epochs = n_epochs
    self.w = np.array([random.uniform(500000, 1000000), random.uniform(500000, 2000000), random.uniform(0, 1000)])
    print(f"Init w: {self.w}")

  def predict(self, X: np.array)->np.array:
    return X @ self.w

  def update_w(self, X: np.array, y: np.array):
    # w = w - lr / m * XT @ (w @ X - y)
    m = len(y)
    h = self.predict(X)
    self.w -= self.lr / m * X.T @ (h - y)

  def fit(self, X: np.array, y:np.array):
    last_cost = 100000000000000

    for i in range(self.n_epochs):
      self.update_w(X,y)
      new_cost = cost(y, self.predict(X))
      print(f"{i}, {self.w}, {new_cost}")

      if  last_cost - new_cost < self.thr:
        break
      last_cost = new_cost

In [45]:
X = np.array(df_cut[['bedrooms', 'bathrooms', 'area']])

y = np.array(df_cut['price'])

w_best = np.linalg.inv(X.T @ X) @ X.T @ y
print(f'w_best: {w_best}')

w_best: [3.68974672e+05 1.37031315e+06 3.72448352e+02]

In [52]:
linear_regression = LinearRegression(lr=0.00000005, n_epochs=10000, thr=1000000)
linear_regression.fit(X,y)

Init w: [753640.0480602  747104.81593008    782.64020444]
0, [7.53639673e+05 7.47104659e+05 5.67518263e+01], 2026762701528.9194
1, [7.53639862e+05 7.47104750e+05 4.64300250e+02], 1298346037212.4114
2, [7.53639734e+05 7.47104702e+05 2.35483105e+02], 1068731909214.7283
3, [7.53639784e+05 7.47104733e+05 3.63951992e+02], 996352113799.433
4, [7.53639734e+05 7.47104719e+05 2.91823432e+02], 973536291184.0413
5, [7.53639740e+05 7.47104730e+05 3.32319861e+02], 966344202643.537
6, [7.53639715e+05 7.47104727e+05 3.09583241e+02], 964077083847.2516
7, [7.53639708e+05 7.47104732e+05 3.22348676e+02], 963362431757.4023
8, [7.53639690e+05 7.47104732e+05 3.15181561e+02], 963137153815.9777
9, [7.53639678e+05 7.47104735e+05 3.19205532e+02], 963066138156.7355
10, [7.53639663e+05 7.47104737e+05 3.16946293e+02], 963043749609.8584
11, [7.53639650e+05 7.47104739e+05 3.18214748e+02], 963036689476.5352
12, [7.53639635e+05 7.47104741e+05 3.17502587e+02], 963034461220.9578
13, [7.53639621e+05 7.47104743e+05 3.17902438e+02], 963033756087.2926